.first-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  background-color: brown;
  
}

.first-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
  margin-bottom: 15;

}

.card-blog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.img-blog{
  width: 70%;
  /* height: 20%; */

}

.card-inst{
  width: 60%;
  height: 60vh;
}



.content-blog{
  padding: 10px;
  background-color: aqua;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}