.text1{
    font-family: "unset";
             margin-Left: 7;
             margin: 9;
             font-Weight: "bold";
             text-Align: "center";
             align-Self: "center";
             color:"#12232E";
             
             
}